<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Predict whether the transaction is Fraudulent or not</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="feature_1" placeholder="Feature 1" required="required" />
        <input type="text" name="feature_2" placeholder="Feature 2" required="required" />
		<input type="text" name="feature_3" placeholder="Feature 3" required="required" />
		<input type="text" name="feature_4" placeholder="Feature 4" required="required" />
        <input type="text" name="feature_5" placeholder="Feature 5" required="required" />
		<input type="text" name="feature_6" placeholder="Feature 6" required="required" />
		<input type="text" name="feature_7" placeholder="Feature 7" required="required" />
        <input type="text" name="feature_8" placeholder="Feature 8" required="required" />
		<input type="text" name="feature_9" placeholder="Feature 9" required="required" />
		<input type="text" name="feature_10" placeholder="Feature 10" required="required" />
        <input type="text" name="feature_11" placeholder="Feature 11" required="required" />
		<input type="text" name="feature_12" placeholder="Feature 12" required="required" />
		<input type="text" name="feature_13" placeholder="Feature 13" required="required" />
        <input type="text" name="feature_14" placeholder="Feature 14" required="required" />
		<input type="text" name="feature_15" placeholder="Feature 15" required="required" />
		<input type="text" name="feature_16" placeholder="Feature 16" required="required" />
        <input type="text" name="feature_17" placeholder="Feature 17" required="required" />
		<input type="text" name="feature_18" placeholder="Feature 18" required="required" />
		<input type="text" name="feature_19" placeholder="Feature 19" required="required" />
        <input type="text" name="feature_20" placeholder="Feature 20" required="required" />
		<input type="text" name="feature_21" placeholder="Feature 21" required="required" />
		<input type="text" name="feature_22" placeholder="Feature 22" required="required" />
        <input type="text" name="feature_23" placeholder="Feature 23" required="required" />
		<input type="text" name="feature_24" placeholder="Feature 24" required="required" />
		<input type="text" name="feature_25" placeholder="Feature 25" required="required" />
        <input type="text" name="feature_26" placeholder="Feature 26" required="required" />
		<input type="text" name="feature_27" placeholder="Feature 27" required="required" />
		<input type="text" name="feature_28" placeholder="Feature 28" required="required" />
        <input type="text" name="scaled_amount" placeholder="Scaled Amount" required="required" />
		<input type="text" name="scaled_time" placeholder="Scaled Time" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
